//Add foundation
@import '~foundation-sites/scss/foundation';

//Foundation globals
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

//Foundation grid
@include foundation-xy-grid-classes;

//Foundation specific components
@include foundation-card;
@include foundation-button;

//Variables for colours to be updated when there is a palette
$color-red: darkred;
$color-black: black;
$color-white: white;
$color-dark-grey: #2d2d2d;
$color-grey: #999;
$color-yellow: #f7e04c;

ul li{
  list-style:none;
}

button.button{
  margin:0.1rem;
  margin-bottom:1rem;
}

#hero{
  background:$color-dark-grey;
  color: $color-yellow;
}

#house{
 margin-bottom:20px;
}

#players{
  padding:2rem 0;
  background:#999;
}

#player{
  border:0.1rem solid $color-black;
  border-radius:1rem;
  background: $color-white
}

#ai{
  color: $color-red;
  border:0.1rem solid $color-red;
  border-radius:1rem;
  background: $color-white;
}
 
.card{
  padding:1rem;
  border:0;
}


