//Add foundation
@import '~foundation-sites/scss/foundation';

//Foundation globals
@include foundation-global-styles;
@include foundation-forms;
@include foundation-typography;

//Foundation grid
@include foundation-xy-grid-classes;

//Foundation specific components
@include foundation-card;
@include foundation-button;

//Variables for colours to be updated when there is a palette
$color-black: black;
$color-dark-grey: #2d2d2d;
$color-grey: #999;
$color-light-grey: #FFFBDF;
$color-theme-house: #f7e04c;
$color-theme-1: #6171be;
$color-theme-2: #a456ab;
$color-white: white;

//Foundation doesn't have this yet
.align-center {
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

ul li{
  list-style: none;
}

button.button{
  background: $color-dark-grey;
  color: $color-white;
  margin: 0.1rem;
  margin-bottom: 1rem;
}

button.button:hover{
  background: $color-grey;
}

button.button:focus{
  background: $color-dark-grey;
}

#hero{
  background: $color-dark-grey;
  color: $color-theme-house;
}

section{
  
}

.players{
  background: $color-light-grey;
  margin-bottom: 1rem;
  min-height: 10rem;
}

.player{
	margin-left: 0.4rem; 
}

.player-cards{ 
  border-radius: 0.3rem;
  margin: 1rem 0;
  min-height: 15.5rem;
  padding: 1rem;
}

.player-cards h3{
  font-size: 1.6rem;
}

.house{
  background: $color-theme-house;
}

.p1{
  background: $color-theme-1;
}

.p2{
  background: $color-theme-2;
}
 
.card{
  border: 0;
  border-radius: 0.5rem;
  margin-left: 0.4rem;
}
